html{
    background-color: #ffffff;
    overflow: hidden;
}

/* SCROLLBAR */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(0,0,0);
    border: 4px solid transparent;
    background-clip: content-box;   // this is important
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255,255,255);
    border: 1px solid rgb(0,0,0);
}

.page{
    z-index: 2;
}


.header{
    background: rgba(00, 00, 00, 0.6);
}

.footer{
    background: rgba(00, 00, 00, 1.0);
    height: 150px;
}

.footer div{
    vertical-align:middle;

}

.headerImgIcon{
    max-height: 30px;
}

button{
    cursor: pointer;
}

.separatorRow{
    height: 15px;
}



.headerText{
    color: #5cb85c;
}

#locationgModal .modal-dialog{
    width: 800px;
}

#editCatalogMod .modal-dialog{
    width: 90%;
    height: 90%;
}

#editCatDetailMod .modal-dialog{
    width: 90%;
    height: 90%;
}

#mapholder{
    width: 100%;
    height: 300px;
    border-radius: 4px;
}


 #searchLoc {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

#searchLoc:focus {
        border-color: #4d90fe;
}

.catUpContainer{
    width: 100%;
    height:300px;
    box-shadow: 5px 3px 3px #888888;
    overflow-y: auto;
}

.catDownContainer{
    margin-top: 15px;
    height: 100px;
    border-top: 1px solid #888888;
}

.list-group{


}

.editSelectedSec {
    overflow:hidden;
    text-overflow:ellipsis;
    width: 100%;
    white-space:nowrap;
    display:block;
}

.modifiedInput{
    color: #000000;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.6);
}

.control-label{
  float: left;
}

.form-group{
  text-align: left;
}

#desc{
  width: 100%;
  height: 100px;
}

.footerBar{
  position: absolute;
  bottom: 0% !important;
}

.algright{
  float: right;
}

#loadingDiv{
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color:rgba(34, 34, 34, 0.95);
  z-index: 100000;
}

#loadingDiv i{
  z-index: 100001;
  color: #fff;
  position: absolute;
  left: 40%;
  top: 40%;
}

#mainMenu{
  background: rgba(34, 34, 34, .7);

}


.mainMenuOption{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100px;
    height: 100px;
}

.mainMenuOption i{
  font-size: 50px;
}

.scrollableIndex{
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.addMargin{
   margin-top:40px;
   height: 360px;
}

.indexPrevSection h4{
   color: #fff;
   font-size: 15px;
   position: fixed;
   z-index: 1000;
   background: rgba(34, 34, 34, .7);
   margin: 4px;
   padding: 6px;
   border-radius: 4px;
}
.playListRow{
  overflow-y: hidden;
  height: 90px;
}
.playListRow .col-md-3{
   text-align: right;
   padding-right: 0px;
}

.playListRow .vcenter{
    background: rgba(255, 255, 255, .7);
    border-radius: 0px 4px 4px 0px;
    margin-left: 1px;
    margin-top: 0%;
    height: 80px;
    padding-top: 9px;
    overflow-y: hidden;
}

.playListRow img{
    border-radius: 4px 0px 0px 4px;
    width: 80px;
    height: auto;
}

.vcenter {
    display: inline-block;
    margin-top: 5%;
    float: none;
}

.row .artNameLabel{
  position: absolute;
  bottom: 0px;
  border-radius: 0px 6px 0px 0px;
  background: rgba(217,83,79, .7);
  padding-right: 6px;
  padding-top: 2px;
  padding-left: 4px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.windowOpt .navbar-text{
   margin-right: 1px;
   margin-left: 1px;
}

.windowOpt .navbar-text span{
    cursor: pointer;
}

.wutzNavBar{
    margin-top: 20px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.wutzNavBar li{
  -webkit-app-region: no-drag;
}

.langDD-btn{
  padding: 0px 0px !important;
  background-color: #222 !important;
  color: #fff !important;
  border-color: #222 !important;
}

.langDD-ul{
  background-color: #222 !important;
  z-index: 3000 !important;
  min-width:60px !important;
}
